{
  "env": {
    "server" : {
      "plugins": [
        "transform-class-properties"
      ],
      "presets": ["env"]
    },
    "test": {
      "plugins": [
        "transform-class-properties",
        "@babel/plugin-transform-runtime"
      ],
      "presets" : ["@babel/preset-env"]
    }
  }
}